* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Arima";
    background-image: url("images/background_image.jpg");
    background-size: cover;
    color:#a37d56;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container {
    color:#a37d56;
    display: flex;
    justify-content: space-between;
    width: 0%;
    max-width: 1200px;
    min-width: 600px;
    padding:5px;
    border-radius: 10px;
}

.left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-section p{
    color:#8f6b47;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
    width: 80%;
    flex-direction: column;
}

.left-section .title{

    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    margin-top: 10px;
}
.logo-title{
    display: flex;
    align-items: center;
}

.logo-title img{
    width: 80%;
    height: 90%;
    margin-bottom: 10px;
}
/* --- end of left section --- */

.right-section{
    background-color: #ffeede;
    color:#a37d56;
    padding-right: 0;
    border-radius: 15px;
}

.right-section .top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1px;
}
#new-testament{
    margin-right: 0;
}
select {
    font: 500 1.1em "Arima";
    text-align: center;
    width: 140px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color:#a37d56;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #8f6b47;
    border-width: 0.3px;
    border-radius: 5px;
}
.first-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.first-row label{
    text-align: center;
    font: 800 12px "Arima";
}
.second-row{
    width: 100%;
    text-align: center;
}
#translation{
    width: 150px;
    font-size: 1em;
    padding: 4px;
}
.labels-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.labels-inputs .labels{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font: 800 12px "Arima";
    gap: 70px;
}
.labels-inputs .inputs{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
#translation{
    height: 30px;
    font-size: 12px;
    border-color: #8f6b47;
    border-width: 0.3px;
    border-radius: 5px;
    width: 120px;
}
.inputs input{
    width: 65px;
    border-color: #8f6b47;
    border-width: 0.3px;
    border-radius: 5px;
    text-align: center;
}
#submitBtn{
    cursor: pointer;
    margin-top: 15px;
    padding: 4px;
    font: 800 1em "Arima";
    color: #332314;
    border-radius: 5px;
    background-color:  #a37d56;
    border:none;
}
#submitBtn:hover{
    font-family: "Arima";
    font-weight: 800;
    font-size: 1em;
    background-color: #8f6b47;
    color: #ffffff;
}
#bible-verse-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 900px;
    font: 800 12px "Arima";
    margin-top: 50px;
    background-color: #ffeede;
    border-radius: 20px;
    height: 150px;
    border: 1px solid #8f6b47;
}
#bible-verse-container .chapter-verse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

}
#text-result{
    font-size: 1.1em;
    margin-top: 5px;
}
h4{
    display: none;
}

